body {
    background-color: gray;
    color: white;
    font-family: sans-serif;

}


header {


    width: 100%;
    border-bottom: 15px solid rgb(78, 78, 78);
    padding-bottom: 50px;


}



header h1 {

    margin-top: 20px;
    font-size: 3em;
    text-align: center;
}



header nav {

    margin-top: 80px;
    text-align: center;

}


nav button {

    background-color: rgb(39, 39, 155);
    color: white;
    border: 1px solid rgb(39, 39, 155);
    font-size: 1.5em;
    padding: 20px;
    margin: 0 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}


button::before {
    position: absolute;
    content: "*";
    width: 67%;
    height: 20%;
    color: white;
    transform: rotate(292deg);
    transition: all 800ms;
    margin-left: -34px;
    margin-top: 0;
    left: -19%;
    bottom: 0;
}

button:hover::before {



    left: 109%;
    bottom: 96px;

}


.separateur {


    width: 100%;
    height: 100%;
    color: black;
    background-color: gray;

}



section #Pays {

    display: flex;
    flex-flow: wrap ;
    justify-content: space-evenly;
    margin: 0 20px;
    

}

#Pays div {

    border: 2px solid white;
    padding: 100px 100px;
    margin: 20px 20px;
    list-style-type: none;
    background-color: lightgray;
    color:black;
    display: flex;
    text-align: center;
    flex-direction: column;    

}

#Pays > div > h2{

    font-size: 1em;
}

#Pays > div  > h2 p {

    margin: 0 20px;
}

.countrylist{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
    
    
}